
Post::create([
    'title' => 'Judul Halaman Ke pertama',
    'slug' => 'Judul-pertama',
    'excerpt' => 'loremfa-rotate-180',
    'body' => 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae est obcaecati distinctio error minima et inventore velit, quibusdam quisquam odio vitae, dolore exercitationem. Quisquam natus magnam commodi iusto pariatur.'
])

Post::create([
    'title' => 'Judul Halaman Ke ketiga',
    'slug' => 'Judul-ketiga',
    'excerpt' => 'loremfa-rotate-180',
    'body' => 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae est obcaecati distinctio error minima et inventore velit, quibusdam quisquam odio vitae, dolore exercitationem. Quisquam natus magnam commodi iusto pariatur.'
])
